{:kotoba.app/latest "k51qzi5uqu5dh383glrwhq1km4nu3xmj5ebsf4hda6k21ljlkdppkwg79lqrfv", :kotoba.app/site-cid "bafybeighl2wqad6sjokmk7nphugkjgcqiekahvye375mbfcruwawzk6doi", :kotoba.app/id "cloud.itonami.recap", :kotoba.app/kind :document, :kotoba.app/embed-url "ipns://k51qzi5uqu5dh383glrwhq1km4nu3xmj5ebsf4hda6k21ljlkdppkwg79lqrfv", :published {:own-nodes {:cid "bafybeighl2wqad6sjokmk7nphugkjgcqiekahvye375mbfcruwawzk6doi", :ipns "k51qzi5uqu5dh383glrwhq1km4nu3xmj5ebsf4hda6k21ljlkdppkwg79lqrfv", :nodes ["gad" "xavier" "jacob"], :at "2026-10-09T03:37:40Z"}}}
